menu "Project Configuration"
    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URL of the broker to connect to

    config BROKER_URL_FROM_STDIN
        bool
        default y if BROKER_URL = "FROM_STDIN"

    config MQTT_USERNAME
        string "MQTT Username"
        default "mqtt_username"
        help
            Username to use in MQTT

    config MQTT_PASSWORD
        string "MQTT Password"
        default "mqtt_password"
        help
            Password to use in MQTT

    config LWT_TOPIC
        string  "LWT topic"
        default "nodo/lwt"
        help 
            Topic del mensaje LWT (Last Will and Testament).

    config LWT_MESSAGE
        string "LWT message"
        default "The node is desconnected"
        help
            contenido del mensaje LWT.

    config LWT_RETAIN
        
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA2) to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum Retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.


endmenu